@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

canvas#canvas {
  font-family: 'Press Start 2P', cursive;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  /* width: 800;
  height: 400; */
}

img#character {
  display: none;
}

button#fullcreen-toggle {
  position: absolute;
  top: 0;
  right: 0;
}